<div class="bg-bgMain w-full px-28">
    <div class="relative">
        <h1 class="font-workSans font-bold text-4xl text-center mb-24 pt-20">Noticias frescas</h1>
        <img src="/assets/shapes/black-asterisk.png" alt="" class="absolute -right-28 -top-0">
    </div>
    <div class="flex justify-around">
        <div class="flex flex-col">
            <img src="/assets/pictures/news01.jpg" width="264" height="359" class="border-7 border-greyBox" />
            <h4 class="font-bold w-64 my-2">
                Chin chin por nuestra plata en el #hackforgood del cdec
            </h4>
            <div class="flex mb-7">
                <p class="text-xs text-gray-600 mr-2">
                    Publicado: 04/04/2020 • Leer más
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
            </div>

            <img src="/assets/pictures/news-06.jpg" width="264" height="208" class="border-7 border-greyBox" />
            <h4 class="font-bold w-64 my-2">
                Chin chin por nuestra plata en el #hackforgood del cdec
            </h4>
            <div class="flex mb-7 relative">
                <p class="text-xs text-gray-600 mr-2">
                    Publicado: 04/04/2020 • Leer más 
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
                <div class="absolute -bottom-32 -left-6">
                    <img src="/assets/shapes/magenta-circle2.svg">
                </div>
            </div>
        </div>

        <div>
            <img src="/assets/pictures/news-02.jpg" width="264" height="208" class="border-7 border-greyBox" />
            <h4 class="font-bold w-64 my-2">
                Dos alumnas de Brother crean la primera manifestación feminista en
                Twitch
            </h4>
            <div class="flex mb-7">
                <p class="text-xs text-gray-600 mr-2">
                    Publicado: 04/04/2020 • Leer más
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
            </div>
            <img src="/assets/pictures/news-05.jpg" width="264" height="369" class="border-7 border-greyBox" />
            <h4 class="font-bold w-64 my-2">
                #PROHIBIDOFIJARCARTELES: UNA NUEVA OPORTUNIDAD PARA EL CARTEL MÁS FEO
                DEL MUNDO
            </h4>
            <div class="flex mb-7">
                <p class="text-xs text-gray-600 mr-2">
                    Publicado: 04/04/2020 • Leer más
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
            </div>
        </div>

        <div>
            <img src="/assets/pictures/news-03.jpg" width="264" height="369" class="" />
            <h4 class="font-bold w-64 my-2">
                Brother presenta pinta y colorea: el ciclo con el mejor talento gráfico
                de Madrid
            </h4>
            <div class="flex mb-7">
                <p class="text-xs text-gray-600 mr-2">
                    Publicado: 04/04/2020 • Leer más
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
            </div>
            <img src="/assets/pictures/news-07.jpg" width="264" height="156" class="border-7 border-greyBox" />
            <h4 class="font-bold w-64 my-2">
                Somos la escuela con más finalistas en el Festival CDEC (otra vez;))
            </h4>
            <div class="flex mb-7">
                <p class="text-xs text-gray-600 mr-2">
                    Publicado: 04/04/2020 • Leer más
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
            </div>
        </div>

        <div>
            <img src="/assets/pictures/news-04.jpg" width="264" height="402" class="border-7 border-greyBox" />
            <h4 class="font-bold w-64 my-2">
                Las nuevas ideas llegan a correos gracias a los alumnos de Brother
            </h4>
            <div class="flex mb-7">
                <p class="text-xs text-greyLetters mr-2">
                    Publicado: 04/04/2020 • Leer más
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
            </div>
            <img src="/assets/pictures/news-08.jpg" width="264" height="377" class="border-7 border-greyBox" />
            <h4 class="font-bold w-64 my-2">
                Nueva representación del kingdom a cargo del ilustrador asis percales
            </h4>
            <div class="flex mb-12">
                <p class="text-xs text-gray-600 mr-2">
                    Publicado: 04/04/2020 • Leer más
                </p>
                <img src="/assets/shapes/arrow.svg" width="20" />
            </div>
        </div>
    </div>
</div>