<header class="lg:w-full">
    <nav class=" h-16 flex bg-black w-full">
        <div class="flex ml-32 justify-around items-center w-7/12">
            <img src="/assets/logo/brot.svg" width="24px" height="21px" alt="logo"  />
            <a href="#contacto">Cursos</a>
            <a href="#quienessomos">Quiénes somos</a>
            <a href="#noticiasfrescas">Noticias frescas</a>
            <a href="##wearedoers">#Wearedoers </a>
            <a href="#contacto">Contacto</a>

        </div>
        <div class="flex justify-center items-center w-4/12">
            <img src="/assets/icons/email.svg" width="24px" height="21px" class="icon"/>
            <img src="/assets/icons/instagram.svg" width="24px" height="21px" class="icon"/>
            <img class="icon" src="/assets/icons/globe2.svg" width="24px" height="21px"/>
        </div>
        
    </nav>
  
</header>

<style>
    a{
        padding: 0 20px;
        color: #e9e6e1;
    }
    .icon{
        margin-left: 20px;
    }
    
</style>