
<div id="my-marquee" class="scroll bg-pinkNav text-bgMain py-2 font-bold flex justify-around text-2xl items-center">
    <img src="/assets/icons/white-smile.svg" width="40" height="40">
    <img src="/assets/shapes/white-arrows.svg" width="45" height="45">
    <p>Revisá  todas las noticias</p>
    <img src="/assets/icons/white-smile.svg" width="40" height="40">
    <img src="/assets/shapes/white-arrows.svg" width="45" height="45">
    <p>Revisá  todas las noticias</p>
    <img src="/assets/icons/white-smile.svg" width="40" height="40">
    <img src="/assets/shapes/white-arrows.svg" width="45" height="45">
    <p>Revisá  todas las noticias</p>
    
  </div>
  
  <style>
    #my-marquee {
  width: 100%;
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
}

  </style>