<div class="bg-bgMain flex lg:w-full">
  <div class="ml-32 w-1/4">
    <div class="absolute left-72 -bottom-80">
      <img src="/assets/shapes/yellow-trap.svg" />
    </div>
    <div class="relative">
      <h2 class="mt-28 text-4xl w-3/4 fuente mb-2">Mucho más</h2>
      <h2 class="text-4xl fuente">que una escuela de</h2>
      <h2 class="font-extrabold underline mt-2 text-4xl fuente mb-7">
        creativos
      </h2>
      <p class="text-base mb-7 w-11/12">
        Un Brother es alguien que
        <span class="underline">piensa continuamente,</span> inquieto,
        <span class="font-bold">curioso</span> y reflexivo.
      </p>
      <p class="mb-7 size">
        Que se <span>plantea preguntas</span> y busca las respuestas. Un Brother
        es alguien que se abre camino, proactivo, que tiene iniciativas, que
        <span class="font-bold">busca oportunidades.</span>
      </p>
      <p class="mb-7">
        Un Brother no deja que las cosas pasen. Va a buscarlas y las pelea y que
        si gana, sigue a por más.
      </p>
      <p class="mb-32">
        Y si pierde,
        <span class="font-bold"
          >no se rinde <span class="underline">jamás.</span></span
        >
      </p>
      <div class="absolute">
        <!--  <div>
        <img
          src="/assets/shapes/yellow-cloud.svg"
          alt="yellow-cloud"
          width="500px"
          
        />
      </div> --->
      </div>
    </div>
  </div>

  <div class="w-3/5 ml-28">
    <h2 class="mt-28 text-4xl font-bold fuente mb-9">Cursos & Workshops</h2>
    <div class="flex justify-between w-8/12">
      <div class="w-1/2">
        <img src="/assets/pictures/thumb-02.jpg" width="144" height="144" />
        <p class="text-sm w-7/12 mt-1">Curso Anual de Creatividad</p>
      </div>
      <div class="w-1/2">
        <img src="/assets/pictures/thumb-03.jpg" width="144" height="144" />
        <p class="text-sm w-7/12 mt-1">Planificación y Estrategia Creativa 2021</p>
      </div>
      <div class="w-1/2 relative">
        <img src="/assets/pictures/thumb-01.jpg" width="144" height="144" />
        <p class="text-sm w-7/12 mt-1">PR & Comunicación 2021</p>
      </div>
      <div class="">
        <div class="absolute right-36 bottom-4">
            <img src="/assets/shapes/yellow-hex-full.svg" alt="" >
        </div>
        
      </div>
     </div>

     <div class="flex justify-between w-8/12 mt-8"> 
      <div class="w-1/2">
        <img src="/assets/pictures/thumb-05.jpg" width="144" height="144"/>
        <p class="text-sm w-7/12 mt-1">Digital y Social Media</p>
      </div>
      <div class="w-1/2">
        <img src="/assets/pictures/thumb-06.jpg" width="144" height="144"/>
        <p class="text-sm mt-1">Design Thinking</p>
      </div>
      <div class="w-1/2">
        <img src="/assets/pictures/thumb-04.jpg" width="144" height="144"/>
        <p class="text-sm w-8/12 mt-1">Planificación y Estrategia Creativa</p>
      </div>
    </div>
    <div class="absolute right-60">
        <img src="/assets/shapes/yellow-asterisk-big.svg" alt="">
    </div>
  </div>
</div>

<style>
  @font-face {
    font-family: "Larken";
    src: url("/src/assets/fonts/LarkenDEMO-Light.otf");
  }
  @font-face {
    font-family: "Larken";
    src: url("/src/assets/fonts/LarkenDEMO-Regular.otf");
  }
  @font-face {
    font-family: "LarkenExtraBold";
    src: url("/src/assets/fonts/LarkenDEMO-ExtraBold.otf");
  }
  .fuente {
    font-family: Larken;
  }
  .size {
    width: 95%;
  }
  .cloud {
    width: 600px !important;
  }
</style>
