<div class="bg-greyFooter flex h-40 lg:w-full justify-around">
    <div class="flex justify-between w-1/12 mb-16">
        <img src="/assets/icons/email.svg" alt="" width="34.23" height="27.71">
        <img src="/assets/icons/instagram.svg" alt="" width="34" height="21">
        <img src="/assets/icons/globe2.svg" alt="" width="34.23" height="27.71">

    </div>
    <div class="mt-6">
        <img src="/assets/logo/white-logo.svg" alt="white-logo">
    </div>
    <div class="text-sm text-greyLetters mt-6 flex flex-col justify-items-end">
        <p>Calle Gran Vía 27, 28013 Madrid, </p>
        <p>+34 910 52 66 49 | +34 612 27 84 09</p>
        <p>madrid@brotherad.com</p>
        <p class="mt-2">Made by <span class="font-extrabold text-greyLetters hover:text-red-600">20DEDOS</span> </p>
    </div>
</div>